body{
    font-family: sans-serif;
}

h1{
    color: rgb(255, 57, 67)
}
.button-container{
    width: 100%;
    text-align: center;
}
.button{
    display: inline-block;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(255, 57, 67);
    padding: 0.5em 1.5em;
    border-radius: 20px;
    margin-bottom: 0.8em;
    transition: 300ms;
    cursor: pointer;
    margin-top: 5px;
}
.button:focus{
    outline: none;
}
.button:hover{
    box-shadow: 0 5px 20px rgba(255, 57, 67, 0.50)
}
.popup {
    display: none;
}
.modal{
    width: 30%;
    min-width: 190px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    background-color: #eeeeee;
    position: absolute;
    top : -50%;
    opacity: 0;
    transition: top 250ms ease, opacity 250ms ease;
    z-index: 2;
    overflow: auto;
    display: inline-block;
    margin: auto;
    right: 0;
    left: 0;
}

.modal-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    transition: opacity 250ms ease;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
}
.close{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 16px;
}
.email{
    border-radius: 10px;
    padding: 3px 5px 3px 5px;
    height: 17px;
    border: 1px solid rgba(34,36,38,.15);
    margin-top: 5px;
}
.email:focus{
    outline: none;
}
.label{
    margin-top: 5px;
}

.email-envoye {
    display:none;
    color: green;
}

.email-invalid {
    display: none;
    color: red;
}